

/* Fonts from our style guide */
@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/Titillium-Semibold.otf'); 
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf'); 
}

.row { margin: 0px;}

/* for review */
#logo { padding: 16px 0px; }

body { font-family: 'Roboto', sans-serif; margin:0px; padding: 0px; width:100%; }

h1, h2 { 
	font-family: 'Titillium Web', sans-serif;
	color: #3C3C3B; }
h3, h4 { 
	font-family: 'Titillium Web', sans-serif;
	color: #4E87A0; }


.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 40px;

}
.navbar {
	min-height: 40px !important;
	background-color: #ffffff;
	border: #ffffff;
	color: #000000;
	width: fit-content;
    margin-bottom: unset;
}

/* Standard nav menu styling */
.navbar-nav li a { 
	color: #575757 !important; 
	padding: 0px; 
	line-height: 32px; 
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
}

.navbar-nav > li {   width: 130px; text-align: center; }

.dropdown-menu {
	padding: 0;
    left: 130px;
}

.dropdown-menu > li { 
    min-width: unset;
    text-align: left;
    padding: 0 0 0 5px;
}

.banner table, .banner thead, .banner tbody, .banner th, .banner td, .banner tr {
		border: 0px !important;
}


/* 4 different navbar styles to alternate through */
.navbar-nav li:nth-child(4n+0) {background-color: #ECE81A;}

.navbar-nav li:nth-child(4n+1) { background-color: #DE7C00; }

.navbar-nav li:nth-child(4n+2) { background-color: #5BC2E7; }

.navbar-nav li:nth-child(4n+3) { background-color: #4E87A0; }

/* nav menu highligh */
.navbar-nav li:hover { background-color: #005760; }
.navbar-nav li:hover > a { background-color: #005760; color: #e9e9e9 !important;}
.navbar-nav > li:hover:before { border-bottom: 40px solid #005760; }

@media all and (max-width: 760px) {
	.navbar-nav { margin: 0px -15px;  }
	.navbar-nav > li { width: 120px !important; }
    .dropdown-menu { left: 20px; top: 30px; }
}

@media all and (min-width: 760px) {
	.navbar-nav > li {
		-webkit-transform: skew(-45deg);
		-moz-transform: skew(-45deg);
		transform: skew(-45deg);
	}
	.navbar-nav > li > * {
		-webkit-transform: skew(45deg);
		-moz-transform: skew(45deg);
		transform: skew(45deg);
	}
}
@media only screen and (max-width: 1200px) and (min-width: 760px) {
	/* Force table to not be like tables anymore */
	.banner table {
        display: table-row;
    }
    .banner thead, .banner tbody, .banner th, .banner td, .banner tr {
		display: block;
		border-top: 0px !important;
	}

    .banner td {
	    /* Behave  like a "row" */
	    border: none;
	    position: relative;yes
	    padding-left: 50%;
	}

	 .banner td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	 }

     .navbar-nav {
         padding-left: 20px;
     }
}

.footer { 
	border:0px;
	width: 100%;
	background: white no-repeat; /* review - optimize */
	color: #9e9e9e;
	text-align: right;
	padding-top: 60px;
	font-size: 10pt;
	margin-bottom: 0px !important;
}

@media all and (max-width: 760px) {
	.footer {
		padding-top: 60px;
		height: 25px;
		text-align: left;
    }
}
.footer a { color: #67799f; }
