{% macro render_excerpt(res, class=None) %}
{% refer to res.relative_path as post %}
<article {{'class='~class if class }}>
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
{{ post.excerpt|markdown|typogrify }}
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
</article>
{% endmacro %}

{% macro render_nav_item(classes, item) -%}
{% if item.children -%}
{% do classes.append('dropdown-toggle') -%}
<li class="dropdown">
    <a class="{{ classes | join(' ') }}"
        {%- if item.description -%}
        title="{{ item.description }}"
        {%- endif %}
        role="button" data-toggle="dropdown">
        {{ item.name }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
    {% for child in item.children -%}
    {{ render_nav_item ([], child ) }}
    {% endfor -%}
    </ul>
</li>
{% else -%}
<li>
{% if classes -%}
    <a class="{{ classes | join(' ') }}"
{% else -%}
    <a
{% endif -%}
{%- if item.description -%}
        title="{{ item.description }}"
        {%- endif -%}
        href="{{ content_url(item.url) }}">
        {{ item.name }}
    </a>
</li>
{% endif -%}
{% endmacro -%}


{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<nav class="navbar navbar-default nav-top navbar-static-top" role="navigation">
  <div class="navbar-header">
    <!--<div class="visible-xs visible-sm">Menu</div>-->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
      {% for item in menu -%}
      {% if item.enabled | default(True) %}
      {% if item.type == 'page' -%}
          {% set active = (resource.url ==
              site.content.resource_from_relative_path(item.url).url) -%}
      {% else -%}
          {% set active = (node ==
              site.content.node_from_relative_path(item.url)) -%}
      {%- endif %}
      {% set classes = ['page-scroll'] -%}
      {% do classes.append('active') if active -%}
      {% do classes.append(item.css_class) if item.css_class -%}
      {{ render_nav_item(classes, item) }}
      {%- endif %}
      {%- endfor %}
    </ul>
  </div>
</nav>
{%- endif %}
{%- endmacro %}
