---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 price
---
{% markdown %}

#Volunteer
linux.conf.au is a grass-roots, community-driven event. It needs bright, enthusiastic people - like you - to make it a success!

Volunteering at linux.conf.au is a great opportunity, and can be deeply rewarding. On a more practical note, volunteering at linux.conf.au can add to your professional portfolio in many ways - making this an ideal opportunity for students or recent graduates.

Meeting exceptional people - many of whom are recognised experts in their field and industry luminaries
Great networking opportunities with people working in the free and open source community
Gaining practical, hands-on experience and skills in event management, customer liaison, public relations and operation of audio visual equipment - which are invaluable to future employers

# What's required of me?
To be eligible for Volunteer Registration at linux.conf.au, you will need to be able to commit to at least four (4) full days of volunteering as well as training and induction on the following days:
{% endmarkdown %}
<div class="table-responsive">
<table class="table table-striped table-bordered" summary="This table provides a summary of the days volunteers will be needed">

  <TR>
    <TH> Day </TH>
    <TH> Tasks available </TH>
    <TH> Induction being run </TH>
  </TR>
  <TR>
    <TD> Saturday 20th Jan </TD>
    <TD> Conference space setup, AV setup, Network setup, AV training  </TD>
    <TD> Yes </TD>
  </TR>
  <TR>
    <TD> Sunday 21st Jan </TD>
    <TD> Conference setup and registration </TD>
    <TD> Yes  </TD>
  </TR>
  <TR>
    <TD> Monday 22nd Jan </TD>
    <TD> Miniconference room monitoring, AV and general assistance </TD>
    <TD> No  </TD>
  </TR>
  <TR>
    <TD> Tuesday 23rd Jan  </TD>
    <TD> Miniconference room monitoring, AV and general assistance </TD>
    <TD> No  </TD>
  </TR>
  <TR>
    <TD> Wednesday 24th Jan </TD>
    <TD> Conference room monitoring, AV and general assistance </TD>
    <TD> No  </TD>
  </TR>
  <TR>
    <TD> Thursday 25th Jan </TD>
    <TD> Conference room monitoring, AV and general assistance </TD>
    <TD> No  </TD>
  </TR>
  <TR>
    <TD> Friday 26th Jan </TD>
    <TD> Conference room monitoring, AV, general assistance, and conference packup and tear-down </TD>
    <TD> No  </TD>
  </TR>
  <TR>
    <TD> Saturday 27th Jan </TD>
    <TD> Conference packup and tear-down </TD>
    <TD> No  </TD>
  </TR>
  <TR>
    <TD> Sunday 28th Jan </TD>
    <TD> Final conference packup and tear-down </TD>
    <TD> No  </TD>
  </TR>
</table>
</div>

{% markdown %}
**We would also like you to have one or more of the following skills and/or aptitudes:**


* the ability to meet and greet people and provide basic face to face assistance with a friendly, cheerful disposition
* some familiarity with audio visual equipment
* confidence addressing an audience, such as introducing a speaker
* some familiarity with technology such as IRC, social media, text editors etc
* a clean driver's licence, and be competent in driving minivans and small trucks
* physical fitness for some manual activities (the most you would have to do would be to lift some heavy boxes, or participate in an eating competition)

**The types of tasks you can be expected to be assigned to include:**

* General conference set up including moving and commissioning of equipment such as audiovisual and networking gear
* Operating audiovisual equipment such as cameras in the conference venues
* Assisting with registration of delegates and ensuring questions related to accommodation and getting around the conference venue are answered
* Introducing speakers and ensuring they run to time
* Room monitoring activities including co-ordinating with other conference rooms
* Escorting delegates to/from the Airport
* General event administration tasks
* Assisting with accommodation and food/beverage activities, such as making breakfast for delegates

# What's in it for me?
Tempted, but want to know more about what you get for volunteering your time? This is what we're offering:

* Free conference registration (excluding the Penguin Dinner)
* Lunch, morning tea and afternoon tea provided every day (at minimum - we may include other meals for instance if you're volunteering of an evening)
* T-shirt
* Schwag bag
* Refunds of expenses you incur in the course of volunteering (e.g. petrol for driving to the airport for a pickup)
* Written reference covering your experience and duties - useful for job interviews!

We don't include the following:

* Accommodation
* Travel to and from the conference venue - you will have to make your own way there

# Sign me up!
Great! Here's what you have to do:

1. Visit <a href="https://rego.linux.conf.au">our rego site</a> and log in or create a new account
2. Fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSeEauCkn1Wvfft-zlRUSnbhD-ydDh-J5ATMSUehBHB149pkMA/viewform">this form</a> with your details - including the same email address you provided in step 1.
2. Create an <a href="https://rego.linux.conf.au/tickets/profile">attendee profile</a>.

We will contact you by email to let you know if you have met the eligibity criteria and selected as a volunteer. If you are chosen, you will be given further instructions on how to register your ticket.

Any questions? Email us at volunteers@lca2018.org

{% endmarkdown %}
