---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 homepage
---
<h1>Image Credits</h1>
<ul>
  <li><a href="https://commons.wikimedia.org/wiki/Sydney#/media/File:Sydney_Harbour_Bridge_night.jpg">Sydney Harbour Bridge at night</a> - Photo by DAVID ILIFF. License: CC-BY-SA 3.0 - Modifications: Scaled</li>
</ul>

{# commented out ...
<hr>
<div id="wrapper"><!-- Main wrapper for the sidebar -->
    <div id="page-content-wrapper">
        <div class="container-fluid marketing">
            {% include 'emperor_sponsors.html' %}
        </div><!-- /.container marketing -->
    </div><!-- /.container page-content-wrapping-->
    <!-- FOOTER -->
</div><!--/.container wrapper -->
#}
